<header class="g-header">
    <div class="g-logo">
      <a href="{{ "/" | relative_url }}" aria-label="logo"></a>
    </div>
    <!-- <i id="menu-toggle" class="iconfont icon-menu"></i> -->
    <div id="mode-toggle">
        <svg class="icon icon-day" aria-hidden="true">
            <use xlink:href="#icon-day"></use>
        </svg>
        <svg class="icon icon-night" aria-hidden="true">
            <use xlink:href="#icon-night"></use>
        </svg>
    </div>
    <svg id="menu-toggle" class="icon-menu" aria-hidden="true">
        <use xlink:href="#icon-menu"></use>
    </svg>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li>
                <a href="{{ i[1] | relative_url}}" aria-label="{{ i[0] }}">
                    {{ i[0] }}
                </a>
            </li>
            {% endfor %}
            <li class="mode">
                <svg class="icon day" aria-hidden="true">
                    <use xlink:href="#icon-day"></use>
                </svg>
                <svg class="icon night" aria-hidden="true">
                    <use xlink:href="#icon-night"></use>
                </svg>
            </li>
        </ul>
    </nav>
</header>
